 @{
    ViewBag.Title = "Home Page";
}




<div class="row">
    <div class="col-md-4 col-sm-4 portfolio-item bg-danger">
      

        <div id="welcome-image" class="image-responsive">

        </div>
    </div>
    <div class="col-md-4 col-sm-4 portfolio-item">

        <p>
            At the We Can CodeIT bootcamp, I learned to code.
            At the We Can CodeIT bootcamp, I learned to code.
            At the We Can CodeIT bootcamp, I learned to code.
            At the We Can CodeIT bootcamp, I learned to code.
            At the We Can CodeIT bootcamp, I learned to code.
            At the We Can CodeIT bootcamp, I learned to code.
            At the We Can CodeIT bootcamp, I learned to code.
        </p>
    </div>
    <div class="col-md-4 col-sm-4 portfolio-item bg-primary">
        <div id="evolution-image"></div>
    </div>

</div>

